.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  line-height: 60px;
}
.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 40px;
  /* width: 100%; */
  max-width: 100px;
}
.logan {
  color: #999;
  margin-left: 5px;
}
.outer-container {
  color: #999;
}
.slider-outlined {
  color: red;
}
