.factor-container {
  /* padding: 0 3%; */
}
.factor-item {
  line-height: 56px;
  padding: 0 3%;
  position: relative;
}
.observation-period {
  position: relative;
  top: 10px;
}

.factor-label {
  font-size: 14px;
  color: #999;
  margin-right: 10px;
}

.cpi-value {
  width: 220px;
  display: block;
  line-height: 1;
  position: absolute;
  bottom: 8px;
  left: 90px;
  text-align: center;
  font-size: 12px;
}